/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: #fff;
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.25) 60%, rgba(0, 0, 0, 0.05)),
    url('/assets/bg-western.png') no-repeat center center fixed;
  background-size: cover;

}
